.authorization-container {
  max-width: 1440px;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-size: 14px;
  margin-left: 500px;
  border-radius: 8px; /* Закруглені кути */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тінь */
  background: LightCyan;
}

.authorization-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.authorization-container label {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.authorization-container input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 100%;
  max-width: 300px;
}

.authorization-container button {
  padding: 15px 25px;
  margin-top: 60px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  align-items: center;
  text-decoration: none;
}

.authorization-container button:hover {
  background-color: #ff6600;
  box-shadow: 0px 8px 8px #723d00;
  transform: translateY(-5px);
}

.status {
  font-size: 24px;
  font-family: 'Poppins', SemiBold 600 Italic;
  color: #00063a;
  padding-bottom: 100px;
}
