.footer {
  background-color: #252641;
  color: white;
  padding: 10px;
  text-align: center;
  height: 127px;
  width: 98%;
}

.icon {
  justify-content: center;
  align-items: center;
  width: 6%;
  max-height: 3vh;
}
.icon img {
  max-width: 10%;
  height: auto;
}
.footer-text p{
  color: silver;
  font-family: 'Poppins', SemiBold 600 Italic;
  font-size: 10px;
}

.subscription-input {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-family: 'Poppins', SemiBold 600 Italic;
  font-size: 12px;
  color: white;
  width: 180px;
  background-color: #252641;

}

.subscription-input::placeholder {
  color: #aaa;
}

.subscription-button{
  padding: 4px;
  border: 1px solid #ccc;
  font-family: 'Poppins', SemiBold 600 Italic;
  border-radius: 20px;
  font-size: 12px;
  width: 120px;
  color: #aaa;
  background-color: #252641;
  margin-left: 15px;
}