.content-container-map {
  margin: 0 auto;
  max-width: 800px;
  background-color: white;
  border: 1px solid #000;
  padding: 20px;
}

.square-white-map-container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.square-white-map {
  width: calc(48% - 6px);
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin: 10px;
  padding: 1px;
}

.square-chornyi{
  top: 10px;
  right: 50%;
  transform: translateX(3%);
  width: 750px;
  height: 250px;
  min-width: 100px;
  max-width: 2500px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.square-chornyi p,
 .square-white-map p{
  margin: 10px 0;
  padding: 0 15px;
  line-height: 1.5;
  font-family: 'Times New Roman', serif;
  font-size: 16px;
}
.square-chornyi h2,
 .square-white-map h2{
  margin: 10px 0;
  padding: 0 15px;
  line-height: 1.5;
  font-family: 'Georgia', serif;
  color: #003366;
  font-size: 18px;
}

.main-text-map{
    margin-top: 20px;
	font-size: 24px;
	width: 40vw;
	text-align: center;
	padding-top: 50px;
	font-family: 'Georgia', serif;
    color: #003366;
    font-size: 24px;
}

.space{
    margin-top: 40px;
}


