.content-container-map {
  margin: 0 auto; /* Горизонтальний автоматичний відступ */
  max-width: 800px; /* Максимальна ширина контейнера */
  background-color: white;
  border: 1px solid #000; /* Додано ободок: 1px товщина, solid тип лінії, #000 чорний колір */
  padding: 20px; /* Додав відступ всередині контейнера */
}


.square-white-map-container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.square-white-map {
  width: calc(48% - 6px); /* 20px відступи (10px від лівого та правого margin) */
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin: 10px; /* Збільшити відступи, якщо потрібно */
  padding: 1px; /* Збільшити відступи, якщо потрібно */
}

.square-chornyi{
  top: 10px;
  right: 50%;
  transform: translateX(3%);
  width: 750px;
  height: 250px;
  min-width: 100px;
  max-width: 2500px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.square-chornyi p,
 .square-white-map p{
  margin: 10px 0; /* Відступи зверху та знизу */
  padding: 0 15px; /* Відступи зліва та справа */
  line-height: 1.5; /* Міжрядковий інтервал */
  font-family: 'Times New Roman', serif;
  font-size: 16px;
}
.square-chornyi h2,
 .square-white-map h2{
  margin: 10px 0; /* Відступи зверху та знизу */
  padding: 0 15px; /* Відступи зліва та справа */
  line-height: 1.5; /* Міжрядковий інтервал */
  font-family: 'Georgia', serif;
  color: #003366;
  font-size: 18px;
}

.main-text-map{
    margin-top: 20px;
	font-size: 24px;
	width: 40vw;
	text-align: center;
	padding-top: 50px;
	font-family: 'Georgia', serif;
    color: #003366;
    font-size: 24px;
}

.space{
    margin-top: 40px;
}


